body,html {
    text-align: center;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}




.about-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
    height: 10vw;
}

.about-title{
    /* position: absolute;
    top: 0;
    bottom: 0; */
    /* transform: translate(-50%, -50%);  */
    /* Adjust the centering */
    font-weight: 600;
    font-size: 4rem;
    /* background-color: #013499; */
    /* height: 3rem; */
    /* padding-top: 2rem; */
    color: white;
    z-index: 1;
}

.about-video {
    /* position: fixed; Makes the video stay in place even when scrolling */
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100vw; 
     /* Full width of the viewport */ */
    height: 100; Full height of the viewport
    /* object-fit: cover;  */
    /* Ensures the video covers the entire area without distortion */
    z-index: 0; /* Sends the video to the background */
  }

.about-para-1 {
    font-weight: 400;
    font-size: 1.5rem;
    padding: 2rem;
}



.about-para-2 {
    font-weight: 300;
    font-size: 1.25rem;
    padding: 2rem;
}